@import url("https://fonts.googleapis.com/css?family=Notable");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");

/* Welcome */
.welcome {
  text-align: center;
}

.app-title {
  font-size: 100px;
  font-family: "Bungee Inline", sans-serif;
  color: #000000;
  padding-top: 100px;
  padding-bottom: 75px;
}

.new-game-button {
  margin-right: 20px;
  display: inline;
}

.join-game-button {
  display: inline;
}

.copyright-text {
  padding-top: 50px;
}
