@import url("https://fonts.googleapis.com/css?family=Notable");
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Bungee");
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

/********** General **********/
.page-header {
  text-align: center;
  font-family: "Bungee", sans-serif;
  font-size: 60px;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .page-header {
    font-size: 50px;
  }
}

.sub-header {
  font-size: 20px;
  font-weight: bold;
}

.sub-header2 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Bungee Hairline", sans-serif;
}
/********** Welcome **********/
.welcome {
  text-align: center;
}

.app-title {
  font-size: 100px;
  font-family: "Bungee Inline", sans-serif;
  padding-top: 100px;
  padding-bottom: 75px;
}

.new-game-button {
  margin-right: 20px;
  display: inline;
}
.test {
  color: black;
}

.join-game-button {
  display: inline;
}

.copyright-text {
  padding-top: 50px;
}

/********** Newgame **********/
.newgame-form {
  margin: auto;
  padding: 20px 50px 0 50px;
  max-width: 450px;
}

@media (max-width: 768px) {
  .newgame-form {
    max-width: 100%;
  }
}

.newgame-buttons {
  text-align: center;
}

.create-game-button {
  margin-right: 20px;
}

/********** Joingame **********/
.joingame-form {
  margin: auto;
  padding: 20px 50px 0 50px;
  max-width: 450px;
}

@media (max-width: 768px) {
  .joingame-form {
    max-width: 100%;
  }
}

.joingame-buttons {
  text-align: center;
}

.join-game-button {
  margin-right: 20px;
}
